/* Figure */
figure {
  margin: 0;
}

figure > * + * {
  margin-block-start: var(--space-2xs);
}

figure img,
figure video,
figure picture {
  border-radius: 3px;
}

figcaption {
  font-size: 0.875em;
  opacity: 0.8;
  font-style: italic;
}
