/* Footer */
footer[role="contentinfo"] {
  border-block-start: 1px solid var(--color-border);
}

footer[role="contentinfo"] > * + * {
  margin-block-start: var(--space-s);
}

footer[role="contentinfo"] p:last-child {
  font-size: 0.875em;
  opacity: 0.8;
}
