  <link rel="authorization_endpoint" href="{{ meta.indieAuth.authorizationEndpoint }}">
  <link rel="token_endpoint" href="{{ meta.indieAuth.tokenEndpoint }}">
  <link rel="micropub" href="{{ meta.micropub.endpoint }}">
  <link rel="webmention" href="{{ meta.webmention.endpoint }}/{{ meta.domain }}/webmention">
  <link rel="alternate" type="application/atom+xml" title="{{ meta.siteName }} (Atom)" href="{{ meta.url }}/feed.xml">
  <link rel="alternate" type="application/rss+xml" title="{{ meta.siteName }} (RSS)" href="{{ meta.url }}/rss.xml">
  {% for link in meta.author.relMe %}
  <link rel="me" href="{{ link.url }}">
  {% endfor %}
