---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ meta.siteName }}</title>
  <subtitle>{{ meta.siteDescription }}</subtitle>
  <link href="{{ meta.url }}/feed.xml" rel="self" type="application/atom+xml"/>
  <link href="{{ meta.url }}/" rel="alternate" type="text/html"/>
  <updated>{{ collections.allContent | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ meta.url }}/</id>
  <author>
    <name>{{ meta.author.name }}</name>
    <email>{{ meta.author.email }}</email>
  </author>
  {%- for item in collections.allContent | head(20) %}
  <entry>
    <title>{{ item.data.title or (item.templateContent | striptags | truncate(80, false, '…')) }}</title>
    <link href="{{ item.url | absoluteUrl(meta.url) }}" rel="alternate" type="text/html"/>
    <id>{{ item.url | absoluteUrl(meta.url) }}</id>
    <updated>{{ item.date | dateToRfc3339 }}</updated>
    {%- if item.data.description %}
    <summary>{{ item.data.description }}</summary>
    {%- endif %}
    <content type="html">{{ item.templateContent | htmlToAbsoluteUrls(item.url | absoluteUrl(meta.url)) }}</content>
  </entry>
  {%- endfor %}
</feed>
