---
permalink: /rss.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/">
  <channel>
    <title>{{ meta.siteName }}</title>
    <description>{{ meta.siteDescription }}</description>
    <link>{{ meta.url }}/</link>
    <atom:link href="{{ meta.url }}/rss.xml" rel="self" type="application/rss+xml"/>
    <language>{{ meta.lang }}</language>
    <lastBuildDate>{{ collections.allContent | getNewestCollectionItemDate | dateToRfc822 }}</lastBuildDate>
    {%- for item in collections.allContent | head(20) %}
    <item>
      <title>{{ item.data.title or (item.templateContent | striptags | truncate(80, false, '…')) }}</title>
      <link>{{ item.url | absoluteUrl(meta.url) }}</link>
      <guid isPermaLink="true">{{ item.url | absoluteUrl(meta.url) }}</guid>
      <pubDate>{{ item.date | dateToRfc822 }}</pubDate>
      {%- if item.data.description %}
      <description>{{ item.data.description }}</description>
      {%- endif %}
      <content:encoded>{{ item.templateContent | htmlToAbsoluteUrls(item.url | absoluteUrl(meta.url)) }}</content:encoded>
    </item>
    {%- endfor %}
  </channel>
</rss>
