<div class="h-feed">
  <p class="p-name">{{ feedTitle or meta.siteName }}</p>
  {% for item in feedItems %}
    <article class="h-entry">
      {% if item.data.title %}
        <h2 class="p-name">
          <a class="u-url" href="{{ item.url }}">{{ item.data.title }}</a>
        </h2>
      {% else %}
        <p class="e-content">
          <a class="u-url" href="{{ item.url }}">{{ item.templateContent | striptags | truncate(120, false, '…') }}</a>
        </p>
      {% endif %}
      {% if item.data.summary %}
        <p class="p-summary">{{ item.data.summary }}</p>
      {% endif %}
      <time class="dt-published" datetime="{{ item.date | toISOString }}">
        {{ item.date | formatDate }}
      </time>
      <a class="p-author h-card" href="{{ meta.url }}">{{ meta.author.name }}</a>
    </article>
  {% endfor %}
</div>
